# Terraform files
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan

# Local .tfvars files
*.auto.tfvars

# Crash log files
crash.log

# Exclude sensitive files
*.pem
*.private
*.tfvars.json

# Ignore any .terraformrc or terraform.rc files
.terraformrc

# MacOS folder attributes
.DS_Store

# Ignore .env files, which often contain sensitive information
.env

# Ignore any local overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
cli.*
